<figcaption class="figure-caption">
  <ul class="container">
    <li>
      <p>Response...<p>
      {% for key,val in predictions %}
        <p>{{ val.className|trim }} : {{ val.probability }}</p>
      {% endfor %}
    </li>
    <li>
      <p>Mobilenet is...<p>
      {% for key,val in predictions %}
        {% set nom = val.className|split(', ')|join('" or "') %}
        {% set per = (val.probability * 100) |round(2, 'floor') %}
        <p>{{ per }}% sure this is "{{ nom }}" </p>
      {% endfor %}
    <li>
  </ul>
</figcaption>
