<h2>MobilenetJS Example</h2>
<div class="container">
  <div>
    <input id="url" type="text" placeholder="image url" value="" size="64">
    <div>
{#      <button id="btn-foo" class="btn-sm" title="Foo">Foo</button>#}
      <button id="btn-headers" class="btn-sm" title="Fetch headers only">Fetch headers only</button>
      <button id="btn-image" class="btn-sm" title="Fetch image only">Fetch image only</button>
      <button id="btn-predict" class="btn-sm" title="Fetch image and predictions">Fetch image with predictions</i></button>
    </div>
  </div>
  <div class="info"></div>
  <div class="container">
    <figure class="figure-img">
      <figcaption>
        <p>Click an image or enter an image URL</figcaption></p>
        <p>Note: not all sources allow their images to be fetched like this</p>
        <p>Devs: check the js console for more info</p>
    </figure>
  </div>
</div>
<div class="container samples">
  <div class="row">
    <ul>
      <li class="media">
        <a href="javascript:void(0);"><img class="img-thumbnail mr-3" src=" {{ imgpath }}/images/wellcomecollection.org.N0020820.jpg"></a>
        <div class="media-body">
          <span about='https://wellcomecollection.org/works/uurr8pfe'><a href='https://wellcomecollection.org/works/wrfh365m'><span property='dc:title' xml:lang='en'>Echinacea</span></a>
            <br />
            <a href='https://wellcomecollection.org/works/uurr8pfe'>Wellcome Collection</a>
            <br /><a href='https://creativecommons.org/licenses/by/4.0/'>CC BY</a><span rel='cc:useGuidelines' resource='http://www.europeana.eu/rights/pd-usage-guide/'>.</span></span>
        </div>
      </li>
      <li class="media">
        <a href="javascript:void(0);"><img class="img-thumbnail mr-3" src=" {{ imgpath }}/images/91619_SMVK_EM_objekt_1001021.jpeg"></a>
        <div class="media-body">
          <span about='http://www.europeana.eu/portal/recordhttp://kulturarvsdata.se/SMVK-EM/objekt/1001021'><a href='https://www.europeana.eu/portal/record/91619/SMVK_EM_objekt_1001021.html'><span property='dc:title'>netsuke</span></a>
            <br />
            <a href='http://collections.smvk.se/carlotta-em/web/object/1001021'>Etnografiska museet</a>
            <br /><a href='http://creativecommons.org/licenses/by/2.5/' rel='xhv:license http://www.europeana.eu/schemas/edm/rights'>CC BY</a><span rel='cc:useGuidelines' resource='http://www.europeana.eu/rights/pd-usage-guide/'>.</span></span>
        </div>
      </li>
      <li class="media">
        <a href="javascript:void(0);"><img class="img-thumbnail mr-3" src=" {{ imgpath }}/images/2064101_Museu_ProvidedCHO_Lietuvos_liaudies_buities_muziejus___Open_Air_Museum_of_Lithuania_LIMIS_3807406.jpeg"></a>
        <div class="media-body">
          <span about='http://www.europeana.eu/portal/recordhttp://mint-projects.image.ntua.gr/Museu/ProvidedCHO/Lietuvos liaudies buities muziejus / Open-Air Museum of Lithuania/LIMIS-3807406'><a href='https://www.europeana.eu/portal/record/2064101/Museu_ProvidedCHO_Lietuvos_liaudies_buities_muziejus___Open_Air_Museum_of_Lithuania_LIMIS_3807406.html'><span property='dc:title' xml:lang='lt'>Sewing machine</span></a></span>
          <br />
          <a href='http://www.limis.lt/limisk-portlet/external/preview/exhibit/3807406'>Open-Air Museum of Lithuania</a>
          <br />
          <a href='http://creativecommons.org/licenses/by/4.0/' rel='xhv:license http://www.europeana.eu/schemas/edm/rights'>CC BY</a><span rel='cc:useGuidelines' resource='http://www.europeana.eu/rights/pd-usage-guide/'></span>
        </div>
      </li>
      <li class="media">
        <a href="javascript:void(0);"><img class="img-thumbnail mr-3" src=" {{ imgpath }}/images/wellcomecollection.org.A0001271.jpg"></a>
        <div class="media-body">
          <span about='https://wellcomecollection.org/works/wrfh365m'><a href='https://wellcomecollection.org/works/wrfh365m'><span property='dc:title' xml:lang='en'>Farm animals Piglets</span></a>
            <br />
            <a href='https://wellcomecollection.org/works/wrfh365m'>Wellcome Collection</a>
            <br /><a href='https://creativecommons.org/licenses/by/4.0/'>CC BY</a><span rel='cc:useGuidelines' resource='http://www.europeana.eu/rights/pd-usage-guide/'>.</span></span>
        </div>
      </li>
      <li class="media">
        <a href="javascript:void(0);"><img class="img-thumbnail mr-3" src=" {{ imgpath }}/images/wellcomecollection.org.W0026530.jpg"></a>
        <div class="media-body">
          <span about='https://wellcomecollection.org/works/tdyj6r89'><a href='https://wellcomecollection.org/works/ze26gzff'><span property='dc:title' xml:lang='en'>A fruit and vegetable market in Nigeria</span></a>
            <br />
            <a href='https://wellcomecollection.org/works/tdyj6r89'>Wellcome Collection</a>
            <br /><a href='https://creativecommons.org/licenses/by/4.0/'>CC BY</a><span rel='cc:useGuidelines' resource='http://www.europeana.eu/rights/pd-usage-guide/'>.</span></span>
        </div>
      </li>
      <li class="media">
        <a href="javascript:void(0);"><img class="img-thumbnail mr-3" src=" {{ imgpath }}/images/2021639_A11217.jpeg"></a>
        <div class="media-body">
          <span about='http://www.europeana.eu/portal/recordA11217'><a href='https://www.europeana.eu/portal/record/2021639/A11217.html'><span property='dc:title' xml:lang='nl'>Laar 99 - Bullesweg 7: 1902 Kalfjesmolen, 1957 St. Antoniusmolen</span></a>
            <br />
            <a href='http://studiezaal.erfgoedhuisweert.nl/detail.php?id=205033542'>Gemeentearchief Weert</a>
            <br /><a href='http://creativecommons.org/licenses/by-sa/3.0/nl/' rel='xhv:license http://www.europeana.eu/schemas/edm/rights'>CC BY-SA</a><span rel='cc:useGuidelines' resource='http://www.europeana.eu/rights/pd-usage-guide/'>.</span></span>
        </div>
      </li>
    </ul>
  </div>
</div>