.media {
  max-width: 150px;
}
ul {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
}

.figure-caption {
  font-size: 1.05em;
  text-align: left;
}

.figure-img {
  padding: 2% 0;
  text-align: center;
  border: 1px dotted #aaa;
}

.figure-img img {
  max-height: 300px;
}
