  {% for key,val in predictions %}
    {% set nom = val.className|split(', ')|join('" or "') %}
    {% set per = (val.probability * 100) |round(2, 'floor') %}
    <p> "{{ nom }}" ( {{ per }}% : {{ val.probability }} )</p>
  {% endfor %}
