{#
/**
 * @file
 * Default theme implementation to display a formatted mobilenetjs/image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_mobilenetjs_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="mobilenetjs">
  <figure>
    {% if url %}
      <a href="{{ url }}">{{ image }}</a>
    {% else %}
      {{ image }}
    {% endif %}
    <figcaption></figcaption>
  </figure>
  <button id="btn-mobilenetjs-{{ item.target_id }}" title="Mobilenet">Mobilenet</button>
</div>